

h1 {
    text-align: center;
    color: rgb(236, 83, 83);
    font-size: 54px;
    border-bottom: 3px darkblue solid;
    margin-top: 0px;
}


body{
   background-color: rgb(176, 241, 123);
   font-family: 'Times New Roman', Times, serif;
}

.recipe-card {
    width: 400px; /* 2 + 50 + 400 + 50 + 2 */
    text-align: center;
    background-color:rgb(217, 238, 200);
    margin: 20px auto;
    padding: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5); 
}

ul a {
    text-decoration: none;
    font-size: 24px;
}

.list {
    border-bottom: 3px darkblue dashed;
    margin-bottom: 30px;
    list-style-type: none;
    padding: 19px;
}

.wraps:hover {
    color: green;
}

.salsa:hover{
    color: orange;
}

.pie:hover{
    color:rgb(246, 7, 170)
}

/* recipes */

.head1 {
    text-align: center;
    color:rgb(246, 7, 170);
    text-shadow: 2px 2px 2px white;
}

.head2 {
    text-align: center;
    color: orange;
    text-shadow: 2px 2px 2px white;
}

.head3 {
    text-align: center;
    color: green;
    text-shadow: 2px 2px 2px white;
}

#pie {
    width: 350px;
    height: auto;  
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);  
}

#salsa {
    width: 350px;
    height: auto; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);  
}

#wraps {
    width: 350px;
    height: auto;  
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5); 
}

.photo1{
    width: 200px;
    height: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5); 
}

.photo2{
    width: 200px;
    height: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5); 
}

.photo3{
    width: 200px;
    height: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5); 
}

h2{

}


